* {
font-family: 'Slackey', cursive;
font-size: 30px;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 50px;
}

html {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background-attachment: fixed;
}

.color {
  float: left;
  margin: 100px 50px 0px 0px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  text-align: center;
  background-color: blue;
}

.x {
  float: left;
  clear: left;
  margin: 50px 50px 0px 0px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  text-align: center;
  background-color: grey;
}

td:not(.neverUse) {
  border: 2px solid black;
}

th, td {
  width: 100px;
  height: 100px;
  text-align: center;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse:collapse;
}

.finish {
position: relative;
top: 50px;
border: 2px solid black;
text-align: center;
margin: auto;
width: 200px;
}